<div id="matches" phx-update="stream" class="grid gap-4 grid-cols-1 md:grid-cols-3 lg:grid-cols-5">
  <.live_component
    :for={{dom_id, match} <- @streams.matches}
    module={SportsFeedWeb.Components.Match}
    id={dom_id}
    match={match}
  />
</div>
