<header class="px-4 sm:px-6 lg:px-8">
  <div class="flex justify-start border-b border-zinc-200 py-3 text-sm">
    <a href="/">
      <h1 class="text-2xl font-bold">SportsFeed</h1>
    </a>
  </div>
</header>
<main class="px-4 py-20 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-6xl">
    <.flash_group flash={@flash} />
    {@inner_content}
  </div>
</main>
